
#navbarNav nav-item:hover{
    color: blue;
}
label{
    font-size: 20px;
    font-weight: 500;
}
input[type=text],textarea{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background: #dcc5c5de;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-form{
    width: 80%;
    padding: 20px;
    background: #dbd4d491;
    border-radius: 10px;
    box-shadow: 0 0 10px #dbd4d491;
}
.title{
    color:red;
}